.jumbotron {
    text-align: center;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /*centers items on the line (the x-axis by default)*/
    align-items: center; /*centers items on the cross-axis (y by default)*/
    background-image: url("../images/beach.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.jumbotron img {
    width: 100px;
    height: 100px;
}

.jumbotron h1 {
    font-size: 7rem;
    color: white;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.65);
}

.jumbotron p {
    color: rgba(255, 255, 255, 0.65);
    text-transform: uppercase;
    padding-top: 10px;
}

.jumbotron .learn {
    background-color: white;
    border-color: white;
    border-width: 5px;
    border-radius: 15px;
    color: black;
    transition: all 0.3s ease;
    display: inline-block;
}

.container-jumbo {
    text-align: center;
}

.jumbotron .learn:hover {
    background-color: transparent;
    color: white;
}

div.hidden {
    display: none
}
